body {background: #A9F5A9;}

#page-wrap:after {}

#log {
float: right;
}

#titulo {
text-align:center;
}

nav       {background: #CADCDC;float: left; width: 15%; height: 450px;}
nav span  {margin: 0px 0px 0px 0px;}
section   {background: #CADCDC;float: right; width: 80%; height: 450px;}
footer    {background: #CADCDC;clear: both; display: block; bottom: 0;}
